* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --white: #fff;
    --color-secondary: #3366cc;
    --color-principal: #004884;
    --color-grey:hsl(0, 0%, 50%);

    --color-tertiary:#E6EFFD;
    --color-quaternary:#FF9019;
    --color-quinary:#7F00B2;
    --color-senary:#D0A3E1;
    --color-novenary:#A833B9;




    --padding-container: 48px 0;
}

body {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    background-color: var(--color-principal1);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: var(--padding-container);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header__figure {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__logo--fit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__logo {
    /* color: var(--color-principal); */
    width: 30px;
    height: 30px;
    fill: var(--color-principal);
}

.header__logo--complete{
    width: 160px;
    height: 30px;
}

.header__logo--complete path{
    fill: var(--color-principal);
}

.header__logo--fitEmporium {
    margin-top: 2.5%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: var(--font-poppins);
    color: var(--color-principal);
}
.header__container__search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 11;
    cursor:pointer;
    margin-right: 100%;
   
}
.header__search{
    position:relative;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    scale: 1;
}

.header__search.active{
    opacity: 0;
    visibility:hidden;
}

.header__close{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}


.header__close.active{
    position: relative;
    display: flex;
    opacity: 1;
    visibility:visible;
    transition: 0.5s;
    scale: 1.5;
}

.searchBox{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 10%;
    display:none;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
    z-index: 10;
}
.searchBox.active{
    display:flex;
    right: 0;
}

.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.header__search {
    color: var(--color-principal);
    fill: var(--color-principal);
    width: 30px;
    height: 25px;
}



.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

.nav__links{
    opacity: 0;
    visibility: hidden;
    position: fixed ;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    /* padding: 5rem 3rem 3rem; */
    z-index: 2;
    gap: 70px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
    font-size: 1.4rem;
}


@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes desplazamientoCerrar {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}



.nav__links--mostrar{
    opacity: 1;
    visibility: visible;
    animation: desplazamiento .5s ease-in-out;
}

.nav__links--close{
    animation: desplazamientoCerrar .5s ease-in-out;
    opacity: 1;
    visibility: visible;
}


.header__closeIcon{
    width: 40px;
    height: 40px;
    fill:var(--color-principal);
    color: var(--color-principal);
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.nav__link {
    display: block;
    text-decoration: none;
    color: var(--color-principal);
    font-weight: 600;
}

.header__icons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.header__userIcon{
    width: 27px;
    height: 27px;
    color: var(--color-principal);
    fill: var(--color-principal);
    display: none;
    cursor: pointer;
}

.header__cart {
    width: 30px;
    height: 30px;
    color: var(--color-principal);
    fill: var(--color-principal);
    cursor: pointer;
}


.header__menu--container{
    width: 30px;
    height: 30px;
}

.header__menu {
    width: 30px;
    height: 30px;
    color: var(--color-principal);
    fill: var(--color-principal);
    cursor: pointer;
}


.main__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 24px 0 48px;

}

/*Erley trabajo en el boton*/
.main__content {
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*Erley trabajo en el boton*/

.main__title {
    font-size: .9rem;
    color: hsl(0, 0%, 50%);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;


}

.main__subtitle {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;

}

.main__underlined {
    color: var(--color-principal);
}

.main__paragraph {
    margin-bottom: 24px;

}

/*Erley hizo cambios ininio*/
.main__button {
    display: block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--color-principal);
    padding: 7px 14px;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
    text-align: center;
}
/*Erley hizo cambios fin*/

.main__figure {
    width: 100%;
}

.main__img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    max-height: 300px;
    object-fit: cover;

}

/* inicio estilos propuesta de valor */

.proposal__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
}

.proposal__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}
.proposal__subtitle{
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.proposal__underlined{
    color: var(--color-principal);
}

.proposal__paragraph{
    margin-bottom: 24px;
}

.proposal__figure{
    width: 100%;
}

.proposal__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-height: 300px;
}

/* fin estilos propuesta de valor */

/* inicio estilos misión */

.missionVision{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mission__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    padding: 0;
}

.mission__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.mission__subtitle{
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.mission__underlined{
    color: var(--color-principal);
}

.mission__paragraph{
    margin-bottom: 24px;
}

/* fin estilos misión */

/* inicio estilos visión */

.vision__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0;
}

.vision__content{
    text-align: center;
}

.vision__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.vision__subtitle{
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.vision__underlined{
    color: var(--color-principal);
}

.vision__paragraph{
    margin-bottom: 24px;
}

/* fin estilos visión */

/* inicio estilos valores */

.values__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.values__content{
    text-align: center;
}

.values__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.values__subtitle{
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.values__underlined{
    color: var(--color-principal);
}

.values__paragraph{
    margin-bottom: 24px;
}

/* fin estilos valores */

/* Erley trabajo en img values*/
.proposal__values{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.values__img {
    width: 40%;
    
    

}


 /*Inicio Banner Miguel-angel*/

 .banner{
    background-color: #000;
    width: 100%;
    height: 200px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/pexels-mastercowley-1300526.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 32px 0;
}

.banner__content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    /* padding: 10%; */
    text-wrap: nowrap;
    /* height: 200px; */
    z-index: 1;
    font-family: var(--font-open-sans);
    font-weight: 500;
}

.banner__filter{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*Fin Banner Miguel-angel*/

/* Seccion de cards del equipo */

.card {
    text-align: center;
    margin-bottom: 10%;
}

.card__container {
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px 20px;
    width: 100%;
}

.card__member {
    position: relative;
    width: 300px;
    height: 300px;
}

.card__member .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    border-top: 10px solid var(--color-principal);
    transition: 0.6s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__member .front {
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__member .back{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.card__member:hover .front {
    transform: rotateY(-180deg);
    
}

.card__member:hover .back {
    transform: rotateY(0deg);
}

.line__decoration {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__member{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: space-around;
}

.card__position {
    color: var(--color-grey);
    font-weight: bold;
}

.face .txt__back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.back .info__like{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.back .portafolio__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.back .back__portafolio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.back__links {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-quinary);
}

/* Fin seccion card equipo */


/* Inicio Footer Miguel Angel */

    
.footer{
    color: #fff;
    background-color: var(--color-principal);
}

.footer__title{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
    font-family:var(--font-poppins) ;
}

.footer__paragraph{
    line-height: 1.5;
    margin: 16px 0 50px;
}

.footer__paragraph-newsletter{
    margin: 15px 0;
}

.footer__form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.footer__input{
    flex-basis: 100%;
    flex-grow: 1;
    font-size: 16px;
    font-family: var(--font-open-sans);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 16px 6px;
    margin-bottom: 20px;
}

.footer__cta{
    font-size: 16px;
    font-family: var(--font-open-sans);
    background-color: var(--color-novenary);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 10px 40px ;
    font-weight: 600;
    margin-left: auto;
}

.footer__cta:hover{
    cursor: pointer;
}
.footer__figureLogo{
    display: flex;
    
    justify-content: flex-start;
    width: 90%;
    margin-right:0 auto ;

    /* width: fit-content; */
    height: fit-content;
    background-color: var(--color-principal);
}
.footer__logo{
    /* display: block; */
    width: 300px;
    height:60px;
    background-color: var(--color-principal);
}

.footer__logo path{
    fill: var(--white);
}


.footer__contact{
    line-height: 50px;
}
.footer__contact::after{
    content:'Phone: +57-313-761-3879';
    margin-left: 10px;
    
}

.footer__contact--email::after{
    content: 'conctactanos@fitemporium.com';
   
}

.footer__social{
    display: flex;
    /* justify-content: center; */
    margin-top: 30px ;
    gap: 16px;
}

.footer__link{
    text-decoration: none;
    width: 40px;
    border: 1px solid var(--white);
    border-radius: 100%;
    padding: 6px;
    transition: all .3s ease-in-out;
}

.footer__icon{
    width: 100%; /* DEBES COLOCAR EL WIDTH AL CIEN POR CIENTO PARA PODER MODIFICARLE EL TAMAÑO EN PIXELES*/
    display: block;
    fill: var(--white);
}

.footer__icon:hover{
    fill: var(--color-quaternary);
}





/* Fin Footer Miguel Angel */




@media(min-width:375px){
    .header__userIcon{
      display: block;
    }
}

/*Inicio mediaqueries menu desplegable*/

@media(min-width:425px){
    .nav__links{
        
       
        width: 60%;
       
    }
    

}

@media(min-width:550px){
    .nav__links{
        
       
        width: 50%;
       
    }


}

@media(min-width:700px){
    .nav__links{
        
       
        width: 40%;
       
    }

}


@media(min-width:768px) {

    .nav__links{
        opacity: 1;
        visibility: visible;
        position: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        box-shadow: inherit;
        width: inherit;
        font-size: inherit;


    }

    .header__closeIcon{
        display: none;
    }

    .nav__link {
        display: block;
    }
    /*Fin mediaqueries menu desplegable*/
    
    .header__menu--container{
        display: none;
    }
    .header__menu{
        display: none;
    }



    .main__subtitle {
        margin-bottom: 9%;

    }

    .main__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 16px;

    }

    .main__content {

        text-align: left;
        align-items: flex-start;

    }
    .main__paragraph{
        margin-bottom: 9%;
        font-size: 1.1rem;
    }

    /* inicio estilos propuesta de valor */

    .proposal__container{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
    }

    .proposal__content{
        text-align: left;
        width: 50%;
    }

    .proposal__figure{
        width: 50%;
    }

    /* fin estilos propuesta de valor */

    /* inicio estilos misión */

    .missionVision{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mission__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
    }

    .mission__content{
        text-align: left;
    }

    /* fin estilos misión */

    /* inicio estilos visión */

    .vision__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    .vision__content{
        text-align: left;
    }

    /* fin estilos visión */

    /* inicio estilos valores */

    .values__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .values__content{
        text-align: left;
        padding: 1.5%;
    }

    /* fin estilos valores */

    /*Inicio Banner mq miguel angel*/
    .banner__content{
    font-size: 3rem;
    }
    /*Fin Banner mq miguel angel*/


    /* Inicio estilos cards */
    .card {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10%;
        width: 80%;
    }
    .card__container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* fin estilos cards */

    /* Inicio footer miguel angel */

    .footer__container{
        --padding-container:32px 0;
        display: flex;
        justify-content: space-between;
    }
    .footer__newsletter{
        width: 50%;
        max-width: 350px;
        order: 1;
    }
    .footer__content{
        width: 50%;
        max-width: 300px;

    }
    .footer__paragraph{
        margin: 0;
    }
    .footer__paragraph-newsletter{
        margin: 15px 0;
    }

    /* Fin footer miguel angel */
}

/*trabajo de Erley para hero inicio*/
@media(min-width:1024px){

    .main__paragraph{
        margin-bottom: 4%;
        font-size: 1.2rem;
    }

    .main__subtitle{
        margin-bottom: 4%;
        font-size: 1.7rem;
    }

    .main__button {
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    /* inicio estilos propuesta de valor */
    .proposal__figure{
        width: 50%;
    }

    .proposal__img {
    max-height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    }
    /* fin estilos propuesta de valor */

    /*Inicio mq 1024px Banner miguel angel*/
    .banner{
        background-position: top 40%  center;
        
    }
    .banner__content{
        font-size: 4rem;
    }

    /*Fin mq 1024px Banner miguel angel*/

    /* Inicio estilos cards Miguel Angel */
 
    /* .card__container {
        gap: 50px 20px;
        
    } */

    /* fin estilos cards Miguel angel*/

}

@media(min-width:1440px){
    .main__subtitle{
        font-size: 3rem;
        margin-bottom: 6%;

    }
    
    .main__paragraph{
        margin-bottom: 6%;
        font-size: 1.6rem;
    }
    .main__button {
     padding: 15px 30px;
     font-size: 1.6rem;
    }
    .main__figure {
        width: 100%;
        height: 100%;
    }
    .main__img {
        width: 100%;
        border-radius: 10px;
        height: 100%;
        max-height: 450px;
        object-fit: cover;
    }
    

/*trabajo de Erley para hero inicio*/

    /* inicio estilos propuesta de valor */
    .proposal__figure{
        width: 50%;
    }

    .proposal__img {
    max-height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    }
    /* fin estilos propuesta de valor */

       /* Inicio estilos cards Miguel Angel */
 
    .card{
        gap: 200px;
    }  

    /* fin estilos cards Miguel angel*/
}
