.input__data__container{
    width: max-content;
    margin: 90px auto;

    display: grid;
    grid-template-areas: "input__name";
}

.input__form{
    grid-area: input;
    width: 300px;
    border: none;
    border-bottom: 2px solid #3366cc;
    padding: .7rem 1.5rem;
}

.label__name{
    grid-area: input;

    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;

    transition: transform .2s;
    transform-origin: center left;
}

.input__form:where(:focus,
:not(:placeholder-shown)) + .label__name{
    transform: translateY(-50%) scale(.7);
    background-color: rgb(204, 127, 255);
}