* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --white: #fff;
    --color-secondary: #3366cc;
    --color-principal: #004884;

    --padding-container: 32px 0;
}

body {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    background-color: var(--color-principal1);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 24px 0;
}

/* inicio estilos propuesta de valor */

.proposal__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
}

.proposal__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}
.proposal__subtitle{
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.proposal__underlined{
    color: var(--color-principal);
}

.proposal__paragraph{
    margin-bottom: 24px;
}

.proposal__figure{
    width: 100%;
}

.proposal__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-height: 300px;
}

/* fin estilos propuesta de valor */

/* inicio estilos misión */

.missionVision{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mission__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
}

.mission__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.mission__subtitle{
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.mission__underlined{
    color: var(--color-principal);
}

.mission__paragraph{
    margin-bottom: 24px;
}

/* fin estilos misión */

/* inicio estilos visión */

.vision__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

.vision__content{
    text-align: center;
}

.vision__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.vision__subtitle{
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.vision__underlined{
    color: var(--color-principal);
}

.vision__paragraph{
    margin-bottom: 24px;
}

/* fin estilos visión */

/* inicio estilos valores */

.values__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    text-align: center;
}

.values__content{
    text-align: center;
}

.values__title {
    font-size: .9rem;
    color: var(--color-principal);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.values__subtitle{
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-family: var(--font-poppins);
    font-weight: 700;
}

.values__underlined{
    color: var(--color-principal);
}

.values__paragraph{
    margin-bottom: 24px;
}

/* fin estilos valores */

@media(min-width:768px) {

    /* inicio estilos propuesta de valor */

    .proposal__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .proposal__content{
        text-align: left;
    }

    .proposal__figure{
        width: 200%;
        height: 200%;
    }

    /* fin estilos propuesta de valor */

    /* inicio estilos misión */

    .missionVision{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mission__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
    }

    .mission__content{
        text-align: left;
    }

    /* fin estilos misión */

    /* inicio estilos visión */

    .vision__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    .vision__content{
        text-align: left;
    }

    /* fin estilos visión */

    /* inicio estilos valores */

    .values__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .values__content{
        text-align: left;
        padding: 1.5%;
    }

    /* fin estilos valores */
}

@media(min-width:1440px){
    .proposal__figure{
        width: 100%;
    }

    .proposal__img {
    /* width: 100%;
    height: 100%; */
    max-height: 300px;
    }
}