* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --white: #fff;
    --color-secondary: #3366cc;
    --color-principal: #004884;
    --color-grey:hsl(0, 0%, 50%);

    --color-tertiary:#E6EFFD;
    --color-quaternary:#FF9019;
    --color-quinary:#7F00B2;
    --color-senary:#D0A3E1;
    --color-novenary:#A833B9;
    --padding-container: 48px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header__figure {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__logo--fit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__logo {
    /* color: var(--color-principal);*/ 
    width: 30px;
    height: 30px;
    fill: var(--color-principal);
}

.header__logo--complete{
    width: 160px;
    height: 30px;
}

.header__logo--complete path{
    fill: var(--color-principal);
}

.header__logo--fitEmporium {
    margin-top: 2.5%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: var(--font-poppins);
    color: var(--color-principal);
}
.header__container__search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 11;
    cursor:pointer;
    margin-right: 100%;
   
}
.header__search{
    position:relative;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    scale: 1;
}

.header__search.active{
    opacity: 0;
    visibility:hidden;
}

.header__close{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}


.header__close.active{
    position: relative;
    display: flex;
    opacity: 1;
    visibility:visible;
    transition: 0.5s;
    scale: 1.5;
}

.searchBox{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 10%;
    display:none;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
    z-index: 10;
}
.searchBox.active{
    display:flex;
    right: 0;
}

.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.header__search {
    color: var(--color-principal);
    fill: var(--color-principal);
    width: 30px;
    height: 25px;
}

.header__search {
    color: var(--color-principal);
    fill: var(--color-principal);
    width: 30px;
    height: 25px;
}



.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

.nav__links{
    opacity: 0;
    visibility: hidden;
    position: fixed ;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    z-index: 2;
    gap: 70px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
    font-size: 1.4rem;
}


@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes desplazamientoCerrar {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}



.nav__links--mostrar{
    opacity: 1;
    visibility: visible;
    animation: desplazamiento .5s ease-in-out;
}

.nav__links--close{
    animation: desplazamientoCerrar .5s ease-in-out;
    opacity: 1;
    visibility: visible;
}


.header__closeIcon{
    width: 40px;
    height: 40px;
    fill:var(--color-principal);
    color: var(--color-principal);
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.nav__link {
    display: block;
    text-decoration: none;
    color: var(--color-principal);
    font-weight: 600;
}

.header__icons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.header__userIcon{
    width: 27px;
    height: 27px;
    color: var(--color-principal);
    fill: var(--color-principal);
    display: none;
    cursor: pointer;
}

.header__cart {
    width: 30px;
    height: 30px;
    color: var(--color-principal);
    fill: var(--color-principal);
    cursor: pointer;
}


.header__menu--container{
    width: 30px;
    height: 30px;
}

.header__menu {
    width: 30px;
    height: 30px;
    color: var(--color-principal);
    fill: var(--color-principal);
    cursor: pointer;
}



@media(min-width:375px){
    .header__userIcon{
      display: block;
    }
}

@media(min-width:425px){
    .nav__links{
        width: 60%;
    }
}

@media(min-width:550px){
    .nav__links{
        
       
        width: 50%;
       
    }


}

@media(min-width:700px){
    .nav__links{
        
       
        width: 40%;
       
    }

}


@media(min-width:768px) {

    .nav__links{
        opacity: 1;
        visibility: visible;
        position: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        box-shadow: inherit;
        width: inherit;
        font-size: inherit;


    }

    .header__closeIcon{
        display: none;
    }

    .nav__link {
        display: block;
    }

    .header__menu--container{
        display: none;
    }
    .header__menu{
        display: none;
    }

    
}